<!-- update -->
<div>
    <!-- create new expense-->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-blue">Alterar despesa</h1>
    </div>
  
    <!--fixed expenses-->
    <div *ngIf="fixedExpense">
      <app-update-fixed-expense></app-update-fixed-expense>
  </div>

  <!--variable expenses-->
  <div *ngIf="variableExpense">
    <app-update-variable-expense></app-update-variable-expense>
  </div>

  <!--short expenses-->
  <div *ngIf="shortExpense">
    <form #itemForm="ngForm" name="form">
      <app-update-short-expense></app-update-short-expense>
    </form>
  </div>

  <!--long expenses-->
  <div *ngIf="longExpense">
    <form #itemForm="ngForm" name="form">
      <app-update-long-expense></app-update-long-expense>
    </form>
  </div>

</div>
  
