<div class="limiter">
    <div class="container-login">
      <div class="wrap-login">
        <form class="login-form">

          <span class="login-title"><i class="fas fa-lock"></i> Esqueceu-se da Password? </span>
          <!--return back button-->
          <a class="return-back" routerLink="/" ><i class="fas fa-arrow-circle-left"></i> voltar</a>
  
          <!--Username-->
          <div class="wrap-input">      
              <input required class="input" type="text"
                  name="email" placeholder="E-mail">
              <span class="focus-input"></span>
          </div>
  
          <div class="login-button m-t-17">
            <button class="login-form-btn" type="button"> Enviar E-mail </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  