<div #content>
    <div class="container">
        <h1 class="text-blue"> Relatório de Despesa</h1>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <label><b> Tipo de despesa:</b></label> {{ expenseType.name }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label><b> Estado da despesa:</b></label> {{ expense.stateType }}
            </div>
            <div class="col-sm-6">
                <label><b> Nome da despesa:</b></label> {{ expense.expenseName }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label><b>Data da despesa:</b></label> {{ expense.expenseDate }}
            </div>
            <div class="col-sm-6">
                <label><b> Data limite do pagamento:</b></label> {{ expense.paymentDate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label><b> Observações:</b></label> {{ expense.comments }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label><b> Custo da despesa:</b></label> {{ expense.total }}
            </div>
            <div class="col-sm-6">
                <label><b> Valor pago no ato da compra:</b></label> {{ beginPayment }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label><b>Quanto falta para estar pago:</b></label> {{ calculateDifference }}
            </div>
        </div>
    </div>
    <div>
        <br><hr><br>
        <h4 class="text-blue">Items da prestação</h4>
        <div class="container-fluid" *ngFor="let item of itemArray; let i=index">
            <h5 class="mb-2 text-gray">&nbsp;&nbsp;&nbsp;Item# {{i+1}}</h5>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label><b> Referente a:</b></label> {{ itemArray[i].month }} {{ itemArray[i].year }}
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <label><b> Data da prestação:</b></label> {{ itemArray[i].expenseDate }}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label><b> Valor da prestação:</b></label> {{ itemArray[i].value }}
                </div>
            </div>
        </div>
        <br><hr><br>
        <div class="row">
            <div class="col-sm-12">
                <label><b> Total:</b></label> {{ calculateTotal }}
            </div>
        </div>
    </div>
</div>
<br><hr><br>
<a class="btn btn-primary generate-pdf" (click)="generatePDF()">
    <i class="fas fa-download"></i> Gerar PDF
</a>
<br><br><br> 