<!--add fixed expense-->
<div class="container">
    <h1 class="text-blue">{{ expenseType.name }}</h1>
    <div class="expense-description"> {{ expenseType.description }} </div>
</div>
<br>
<!--form expenses-->
<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="container-fluid">
        <div class="row">
            <!-- expense name -->
            <div class="col-sm-6">
                <label for="name">Nome da despesa:</label>
                <input required id="name" name="name" type="text" class="form-control ml-1"
                    [(ngModel)]="expense.expenseName" #name="ngModel">
                <span class="help-block" *ngIf="!name.valid && name.touched"> O nome da despesa é obrigatório</span>
            </div>
            <!-- currency -->
            <div class="col-sm-6">
                <label for="currency">Moeda:</label>
                <select required id="currency" name="currency" class="form-control ml-1" [(ngModel)]="expense.currency">
                    <option *ngFor="let currency of currencies" [value]="currency.name"> {{ currency.name }} </option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <!--expense date-->
            <div class="col-sm-6">
                <label for="date" class="control-label">Data da despesa:</label>
                <input required id="date" name="date" type="text" class="form-control" [(ngModel)]="expense.expenseDate"
                    bsDatepicker [bsConfig]="bsConfig">
            </div>
        </div>
        <br>
        <!--month reference -->
        <label for="month">Referente a:</label>
        <div class="row">
            <div class="col-sm-6">
                <select id="month" name="month" class="form-control ml-1" [(ngModel)]="expense.month">
                    <option *ngFor="let month of monthsService.months"> {{ month }} </option>
                </select>
            </div>
            <!--year reference-->
            <div class="col-sm-6">
                <select id="year" name="year" class="form-control ml-1" [(ngModel)]="expense.year">
                    <option *ngFor="let year of years" [value]="year"> {{ year }} </option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- comments -->
            <div class="col-sm-12">
                <label>Observações:</label>
                <textarea name="expenseName" type="text" rows="2" class="form-control ml-1"
                    [(ngModel)]="expense.comments"></textarea>
            </div>
        </div>
        <br>
        <!--file chooser-->
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" name="add" *ngIf="!toggle"
            (click)="getOpenFileChooser()">Adicionar ficheiro</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" name="close" *ngIf="toggle" (click)="getOpenFileChooser()">
            Fechar</button>
        <br>
        <br>
        <div *ngIf="toggle">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="fileAddon">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputFile" aria-describedby="fileAddon">
                    <label class="custom-file-label" for="inputFile">Escolher ficheiro</label>
                </div>
            </div>
            <hr>
        </div>
        <br>
        <br>
        <!--total value-->
        <div class="row">
            <div class="col-sm-6">
                <label for="total">Custo total:</label>
                <input required id="total" type="Number" min="0" name="total" class="form-control ml-1"
                    [(ngModel)]="expense.total" #total="ngModel">
            </div>
            <span class="help-block" *ngIf="!total.valid && total.touched"> O total da despesa é obrigatório</span>
        </div>
        <br>
        <!--submit-->
        <div class="col-sm-6">
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submeter</button>
        </div>
    </div>
    <br>
    <br>
</form>