<div class="container">
  <h1 class="text-title">{{ types[1] }}</h1>
</div>
<hr>

<!--form expenses-->
<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="container-fluid">
    <div class="row">
      <!-- expense name -->
      <div class="col-sm-6">
        <label for="name" class="control-label">Nome da despesa:</label>
        <input required id="name" name="name" type="text" class="form-control" [(ngModel)]="expense.expenseName"
          #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched"> O nome da despesa é obrigatório</span>
      </div>
      <!-- expense type -->
      <div class="col-sm-6">
        <label for="type">Tipo da despesa:</label>
        <select required id="type" name="type" class="form-control ml-1" [(ngModel)]="expense.expenseSubtype"
          #type="ngModel">
          <option *ngFor="let subtype of subtypes" [ngValue]="subtype">{{ subtype }}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- date -->
      <div class="col-sm-6">
        <label for="date" class="control-label">Data da despesa:</label>
        <input required id="date" name="date" type="text" class="form-control" [(ngModel)]="expense.expenseDate"
          bsDatepicker [bsConfig]="bsConfig">
      </div>
      <!--currency-->
      <div class="col-sm-6">
        <label for="currency">Moeda:</label>
        <select required id="currency" name="currency" class="form-control ml-1" [(ngModel)]="expense.currency"
          #currency="ngModel">
          <option *ngFor="let currency of currencies" [ngValue]="currency"> {{ currency }} </option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- comments -->
      <div class="col-sm-12">
        <label>Observações:</label>
        <textarea name="expenseName" type="text" rows="2" class="form-control ml-1"
          [(ngModel)]="expense.expenseDescription"></textarea>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <!-- items -->
  <h4 class="mb-2 text-blue">Items da despesa</h4><br>
  <div class="container-fluid" *ngFor="let obj of dataArray; let i = index">
    <h5 class="mb-2 text-gray">&nbsp;&nbsp;&nbsp;Item# {{i+1}}</h5>
    <br>
    <div class="row">
      <!--item name-->
      <div class="col-sm-6">
        <label [attr.for]="'itemName'+i" class="control-label">Nome do item:</label>
        <input required [id]="'itemName'+i" name="itemName{{i}}" type="text" class="form-control"
          [(ngModel)]="obj.itemName" #item="ngModel">
        <span class="help-block" *ngIf="item.invalid && item.touched"> O nome do item é obrigatório</span>
      </div>
      <!--item description-->
      <div class="col-sm-6">
        <label for="description">Descrição:</label>
        <textarea id="description" name="description{{i}}" type="text" rows="1" class="form-control"
          [(ngModel)]="obj.description"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <!--value-->
      <div class="col-sm-6">
        <label for="value" class="control-label">Valor:</label>
        <input required id="value" name="value{{i}}" type="number" min="0" class="form-control"
          [(ngModel)]="obj.valueNumber" #val="ngModel" (blur)="valueSum()">
        <span class="help-block" *ngIf="val.invalid && val.touched"> O valor do item é obrigatório </span>
        <br>
      </div>
    </div>
    <br>
    <br>
    <button type="button" class="btn btn-secondary" name="add{{i}}" *ngIf="!obj.toggle"
      (click)="obj.getOpenFileChooser()">Adicionar ficheiro</button>
    <button type="button" class="btn btn-secondary" name="add{{i}}" *ngIf="obj.toggle"
      (click)="obj.getOpenFileChooser()"> Fechar</button>
    <br>
    <br>
    <div *ngIf="obj.toggle">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Escolher ficheiro</label>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-0" *ngIf="i!=0">
        <span (click)="removeItem(i)" class="btn btn-danger">-</span>
      </div>
      <div class="col-1">
        <span (click)="addItem()" class="btn btn-success">+</span>
      </div>
    </div>
    <hr>
  </div>
  <!--end of item-->
  <br>
  <br>

  <!--total value-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <label>Custo total:</label>
        <input id="value" type="number" class="form-control" readonly value="{{ total }}">
      </div>
    </div>
    <br>
    <br>
    <br>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submeter</button>
  </div>
  <br>
  <br>
</form>