<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-blue">Listar todas as despesas</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Despesa</th>
        <th scope="col">Tipo de Despesa</th>
        <th scope="col">Data da Despesa</th>
        <th scope="col">Data do Pagamento</th>
        <th scope="col">Valor Total</th>
        <th scope="col">Acções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jantar em Sintra</td>
        <td>Restauração</td>
        <td>12/01/20</td>
        <td>12/01/20</td>
        <td>20.00 €</td>
        <td><i class="far fa-edit"></i>&nbsp;&nbsp;<i class="fas fa-trash"></i></td>
      </tr>
      <tr>
        <td>Avião para Londres</td>
        <td>Transportes</td>
        <td>14/01/20</td>
        <td>18/01/20</td>
        <td>200.00 €</td>
        <td><span><i class="far fa-edit"></i></span>&nbsp;&nbsp;<span><i class="fas fa-trash"></i></span></td>
      </tr>
      <tr>
        <td>Compras da semana</td>
        <td>Supermercado</td>
        <td>18/01/20</td>
        <td>18/01/20</td>
        <td>12.50 €</td>
        <td><i class="far fa-edit"></i>&nbsp;&nbsp;<i class="fas fa-trash"></i></td>
      </tr>
    </tbody>
  </table>