<main id="main">
    <section id="services" class="services section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2 style="color: #3366ff">Serviços Prestados</h2>
          <p style="text-align: justify;">Ao construir a plataforma ET-Costs, foi com o intuito de apresentar 
            três grandes modulos que pudessem dar resposta à necessidade de fazer um controlo orçamental pessoal.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-file-invoice-dollar"></i></div>
              <h4 class="title"><a href="">Módulo Despesas</a></h4>
              <p class="description">Este módulo gere as suas despesas e segmenta-as em dois grandes grupos:
                Despesas correntes e despesas não correntes
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-dollar-sign"></i></div>
              <h4 class="title"><a href="">Módulo Receitas</a></h4>
              <p class="description">Guarda a informação referente aos seus ganhos
                e rendimentos. Ganha uma inportancia especial quando combinado com as suas despesas.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-chart-pie"></i></div>
              <h4 class="title"><a href="">Modulo Calculo e Apresentação</a></h4>
              <p class="description">São feitos os calculos entre a relação despesas/receitas 
                e apresentados gráficos de diversas prespectivas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
   