<main id="main">
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">

        <div class="col-xl-4 col-lg-4">
          <div class="content">
            <h3>Porquê  escolher a solução ET-Costs?</h3>
            <p>
              ET-Costs, acrómimo para Expense Tracker Costs, é um software que lhe permite gerir as suas despesas 
              e rendimentos. É uma solução simples que lhe mostra nume outra em várias perspetivas, de que forma 
              está a gastar o seu dinheiro, comparações entre rendimentos e despesas de forma a que possa tomar 
              decisões que ajudem o seu orçamento a crescer.
            </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-8">
          <div class="icon-boxes d-flex flex-column">

              <div class="col-xl-4">
                <div class="icon-box mt-4">
                  <i class="fas fa-money-check-alt"><h4>Adicionar Despesa</h4></i>
                  <p>Existem vários tipos de despesa para que possa separar em grupos</p>
                </div>
              </div>

              <div class="col-xl-4">
                <div class="icon-box mt-4">
                  <i class="fas fa-funnel-dollar"><h4>Adicionar Receita</h4></i>
                  <p>Para não ser exaustivo, os tipos de receitas são generalizados e apenas representam
                    rendimentos no seu orçamento
                  </p>
                </div>
              </div>
            </div>
        </div>


      </div>

    </div>
  </section>
</main>
