<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <form class="login-form" (ngSubmit)="onSubmit()">
        <span class="login-title"> Login </span>

        <!--return back button-->
        <a class="return-back" routerLink="/" ><i class="fas fa-arrow-circle-left"></i> voltar</a>

        <!--Username-->
        <div class="wrap-input">      
            <input required class="input" type="text" [(ngModel)]="user.username"
                name="username" placeholder="Username" #username="ngModel">
            <span class="focus-input"></span>
        </div>
        
        <!--password-->
        <div class="wrap-input">
          <input required class="input" type="password" [(ngModel)]="user.password" 
              name="password" placeholder="Password" #password="ngModel">
          <span class="focus-input"></span>
        </div>
        
        <div class="forgot-wrapper">
            <input class="input-checkbox" id="remember" type="checkbox" name="remember">
            <label class="label-checkbox" for="remember"> Lembrar-me</label>
            <div>
                <a class="forgot" routerLink="/forgot">Esqueceu-se da Password?</a>
            </div>
        </div>

        <div class="login-button">
          <button class="login-form-btn" type="submit"> Login </button>
        </div>
      </form>
    </div>
  </div>
</div>



