body {
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

a {
  color: #000000;
}

a:hover {
  color: #3366ff;
  text-decoration: none;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  font-size: 14px;
}

  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #ebf3f9;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: #635551;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .why-us {
    padding: 0 0 30px 0;
    position: relative;
    z-index: 3;
  }
  
  .why-us .content {
    padding: 30px;
    background: #3366ff;
    border-radius: 4px;
    color: #fff;
  }
  
  .why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .why-us .content p {
    margin-bottom: 30px;
  }
  
  .why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
  .why-us .content .more-btn i {
    font-size: 14px;
  }
  
  .why-us .content .more-btn:hover {
    color: #3366ff;
    background: #fff;
  }
  
  .why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
  }
  
  .why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #3366ff;
    margin-bottom: 30px;
  }
  
  .why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  
  .why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #716f6f;
  }

  