<main id="main">
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-xl-4 col-lg-5">
          <br>
          <div class="content">
            <h3>Porquê escolher a solução ET-Costs?</h3>
            <p>
              ET-Costs, acrómimo de Expense Tracker Costs, é um software de Gestão do orçamemto pessoal,
              que lhe permite gerir as suas despesas de acordo com os seus rendimentos. </p>
            <p> É uma solução simples, livre de custos, que procura mostrar-lhe de forma simples, como está 
              a gastar o seu dinheiro. </p>
            <p>A ET-Costs tem ferramentas que lhe permitem fazer comparações entre rendimentos e despesas de forma 
              a que possa tomar decisões que o ajudem a melhorar o seu orçamento, de forma a que  este fique 
              mais equilibrado.
            </p> 
            <p> De forma a oferecer as funcionalidades necessárias para conseguir executar tais tarefas, a ET-Costs 
              foi construida com base em três módulos que se irão complementar.
            </p><br><br>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 d-flex">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box">
                  <a class="why-us-boxes"><i class="fas fa-file-invoice-dollar"></i>Despesas</a>
                  <div >
                    Pode efetuar diversas operações com as despesas, tais como: criar, procurar, visualizar,
                    alterar e apagar.
                  </div>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <a class="why-us-boxes"><i class="fas fa-dollar-sign"></i>Receitas</a>
                  <div >
                    À semelhança das despesas, tambem aqui pode fazer uma gestão efetiva de receitas, tal como:
                    criar, procurar, visualizar, alterar e apagar.
                  </div>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <a  class="why-us-boxes"><i class="fas fa-chart-pie"></i>Calculos</a>
                  <div >
                    Para que possa gerir o seu orçamento, a ET-Costs contem algoritmos de cálculo para 
                    que possa visualizar o relacionamento entre todas as suas despesas e lucros.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>