<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <form class="login-form" (ngSubmit)="onSubmit()">
        <span class="login-title"> Criar Conta </span>

        <!--return back button-->
        <a class="return-back" routerLink="/" ><i class="fas fa-arrow-circle-left"></i> voltar</a>

        <!--Username-->
        <div class="wrap-input">
          <input type="text" class="input" [(ngModel)]="user.username" 
            id="username" name="username" placeholder="Username">
          <span class="focus-input"></span>
        </div>

        <!--password-->
        <div class="wrap-input">
          <input type="password" class="input" [(ngModel)]="user.password"
          id="password" name="password" placeholder="Password">
          <span class="focus-input"></span>
        </div>

        <!--email-->
        <div class="wrap-input">
          <input type="text" class="input" [(ngModel)]="user.email"
          id="email" name="email" placeholder="E-Mail">
          <span class="focus-input"></span>
        </div>

        <!--confirm password-->
        <div class="wrap-input">
          <input type="password" class="input" [(ngModel)]="user.passConfirm"
          id="confirmpass" name="confirmpass" placeholder="Confirm Password">
          <span class="focus-input"></span>
        </div>

        <div class="login-button">
          <button class="login-form-btn" type="submit"> Criar Conta </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>
