<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-blue">Alterar despesa corrente variável</h1>
</div>
<form #itemForm="ngForm" name="form">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <label for="expenseName" class="control-label">Nome da despesa:</label>
          <input required id="expenseName" name="expenseName" type="text" class="form-control"
          value="{{ expense.expenseName }}">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <label for="expenseDate" class="control-label">Data:</label>
          <input id="expenseDate" name="expenseDate" type="text" class="form-control" 
          value="{{expense.expenseDate}}">
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="container-fluid" >
      <h4 class="mb-2 text-blue2">Items da despesa</h4><br>
      <div class="row">
        <div class="col-sm-6">
          <label >Nome do item:</label>
          <input id="itemName" type="text" class="form-control" >
        </div>
        <div class="col-sm-6">
          <label for="description">Descrição:</label>
          <textarea id="description" type="text" rows="1" class="form-control" ></textarea>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <label for="currency">Moeda:</label>
          <select required id="currency" class="form-control ml-1" >
              <option > </option>
          </select>
        </div>
        <div class="col-sm-6">
          <label for="value" class="control-label">Valor:</label>
          <input required id="value" type="number" class="form-control" >
        </div>
      </div>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <input id="value" type="text" class="form-control" readonly>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary" type="button" >Confirmar</button>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>

  </form>