<!--update fixed expense-->
<div class="container" #content>
  <div>
    <h1 class="text-blue">{{ expenseType.name }}</h1>
    <div class="expense-description"> {{ expenseType.description }} </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <label>Nome da despesa:</label> {{ expense.expenseName}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Data da despesa:</label> {{expense.expenseDate}}
      </div>
    </div>  
    <br>
    <div class="row">
      <div class="col-sm-12">
        <label>Observações:</label> {{expense.expenseDescription}}
      </div>
    </div>
  </div>
  <br>
  <hr>
  <h4 class="mb-2 text-blue">Items da despesa</h4><br>
  <div class="container-fluid" *ngFor="let item of itemsArray; let i = index">
    <h5 class="mb-2 text-gray">&nbsp;&nbsp;&nbsp;Item# {{i+1}}</h5>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <label [attr.for]="'itemName'+i">Nome do item:</label> {{item.itemName}}
      </div>
      <div class="col-sm-6">
        <label for="description">Descrição:</label> {{item.itemDescription}}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <label for="value" class="control-label">Valor:</label> {{item.itemValue}}
        <br>
      </div>
    </div>
    <hr>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <label>Custo total:</label> {{total}}
      </div>
    </div>
  </div>
  <br>
</div>
<a class="btn btn-primary generate-pdf" (click)="generatePDF()">
  <i class="fas fa-download"></i> Gerar PDF
</a>