<div class="d-sm-flex align-items-center justify-content-between mb-4" >
    <h1 class="h3 mb-0 text-blue"> Alterar -  {{expenseType.name }} </h1>
</div>

<form #itemForm="ngForm" name="form" ngSubmit="onSubmit()" >
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
              <label [attr.for]="name" class="control-label">Nome da despesa:</label>
              <input required [id]="name" name="expenseName" type="text" class="form-control ml-1" 
              [(ngModel)]="expense.expenseName" #name="ngModel" >
              <span class="help-block" *ngIf="name.invalid && name.touched"> O nome da despesa é obrigatório</span>
          </div>
      </div>
      <br>
      <!--expense date-->
      <!-- <div class="col-sm-6" >
        <label>Data da despesa:</label>
        <input required name="expenseDate" type="text" class="form-control ml-1" 
        [(ngModel)]="expense.expenseDate" bsDatepicker [bsConfig]="bsConfig"
        [bsValue]="bsDate">
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
        #datepickerDMY="bsDatepicker" [bsValue]="bsValue"
        formControlName="dateDMY" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
    </div> -->
      <div class="row">
          <div class="col-sm-6" >
            <label>Data da despesa:</label>
            <input required name="expenseDate" type="text" class="form-control ml-1" 
                [(ngModel)]="expense.expenseDate" bsDatepicker [bsConfig]="bsConfig" >
        </div>
          <div class="col-sm-6" >
            <label for="currency" class="control-label">Moeda:</label>
            <select required id="currency" name="currency" class="form-control ml-1" 
                [(ngModel)]="expense.currency">
                    <option value="0">{{ expense.currency }}</option>
                    <option *ngFor="let currency of currencies"[value]="currency"> {{currency}} </option>
            </select>
        </div>
      </div>
      <br>
      <p>Referente a:</p>
      <div class="row">
          <div class="col-sm-6">
              <select name="expenseMonth" class="form-control ml-1" [(ngModel)]="expense.month">
                  <option value="0">{{ expense.month }}</option>
                  <option>Janeiro</option>
                  <option>Fevereiro</option>
                  <option>Março</option>
                  <option>Abril</option>
                  <option>Maio</option>
                  <option>Junho</option>
                  <option>Julho</option>
                  <option>Agosto</option>
                  <option>Setembro</option>
                  <option>Outubro</option>
                  <option>Novembro</option>
                  <option>Dezembro</option>
              </select>
          </div>
          <div class="col-sm-6">
              <input name="year" type="text" class="form-control ml-1" [(ngModel)]="expense.year">
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-12">
              <label>Observações:</label>
              <textarea name="expenseDescription" type="text" rows="2" class="form-control ml-1" 
                [(ngModel)]="expense.comments"></textarea>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-sm-6">
              <label>Valor da despesa:</label>
              <input required type="number" name="value" class="form-control ml-1" 
               [(ngModel)]="expense.total">
          </div>
      </div>
      <br>
     <div class="col-sm-6">
        <button class="btn btn-primary" type="submit" [disabled]="itemForm.invalid" (click)="onSubmit()">Submeter</button>
    </div>
  </div>
  <br><br><br><br>
    
</form>