<!-- create new expense-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-blue">Criar despesa corrente fixa</h1>
</div><hr>
  
<!--form expenses-->
<form #itemForm="ngForm" name="form" ngSubmit="onSubmit()">
    <div class="container-fluid">
        <div class="row">
            <!-- expense name -->
            <div class="col-sm-6" [class.has-error]="name.invalid && name.touched" 
            [class.has-success]="name.valid">
                <label [attr.for]="name" class="control-label">Nome da despesa:</label>
                <input required [id]="name" name="expenseName" type="text" class="form-control ml-1" 
                [(ngModel)]="expense.expenseName" #name="ngModel">
                <span class="help-block" *ngIf="name.invalid && name.touched"> 
                    O nome da despesa é obrigatório</span>
            </div>
            <!-- expense type -->
            <div class="col-sm-6" >
                <label>Tipo da despesa:</label>
                <select required name="expenseSubtype" class="form-control ml-1" [(ngModel)]="expense.expenseSubtype" >
                    <option *ngFor="let e of expenseSubtype"[value]="e">{{e}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <!--expense date-->
            <div class="col-sm-6" >
                <label>Data da despesa:</label>
                <!-- <input required name="expenseDate" type="text" class="form-control ml-1" 
                [(ngModel)]="expense.expenseDate" bsDatepicker [bsConfig]="bsConfig"
                [bsValue]="bsDate"> -->
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                #datepickerDMY="bsDatepicker" [bsValue]="bsValue"
                formControlName="dateDMY" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
            </div>




            <!-- currency -->
            <div class="col-sm-6" >
                <label>Moeda:</label>
                <select required id="currency" name="currency" class="form-control ml-1" 
                [(ngModel)]="expense.currency" (change)="getCurrency()" >
                        <option *ngFor="let c of currency"[value]="c"> {{c}} </option>
                </select>
            </div>
        </div>
        <br>
        <!--month/year of reference -->
        <p>Referente a:</p>
        <div class="row">
            <div class="col-sm-6">
                <select name="expenseMonth" class="form-control ml-1" [(ngModel)]="expense.month">
                    <option>Janeiro</option>
                    <option>Fevereiro</option>
                    <option>Março</option>
                    <option>Abril</option>
                    <option>Maio</option>
                    <option>Junho</option>
                    <option>Julho</option>
                    <option>Agosto</option>
                    <option>Setembro</option>
                    <option>Outubro</option>
                    <option>Novembro</option>
                    <option>Dezembro</option>
                </select>
            </div>
            <!--year reference-->
            <div class="col-sm-6">
                <select name="expenseYear" class="form-control ml-1" [(ngModel)]="expense.year"
                (change)="getYears()">
                    <option *ngFor="let y of years"[value]="y"> {{y}} </option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- expense name -->
            <div class="col-sm-12">
                <label>Observações:</label>
                <textarea name="expenseName" type="text" rows="2" class="form-control ml-1" 
                [(ngModel)]="expense.expenseDescription"></textarea>
            </div>
        </div>
        <br>
        <!--total value-->
        <div class="row">
            <div class="col-sm-6">
                <label>Valor da despesa:</label>
                <input required type="Number" name="value" class="form-control ml-1" [(ngModel)]="expense.value">
            </div>
        </div>
        <br>
        <!--value-->
        <div class="col-sm-6">
            <button class="btn btn-primary" type="submit" [disabled]="itemForm.invalid"
             (click)="onSubmit()">Submeter</button>
        </div>
    </div>
</form>
    
  
