  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">ET-Costes</div>
      </a>
      <hr class="sidebar-divider my-0">

      <!-- Dashboard -->
      <li class="nav-item active pointerCursor">
        <a class="nav-link" (click)="callDashboard()">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Visão Geral</span></a>
      </li>

      <!-- Expenses-->
      <hr class="sidebar-divider">
      <div class="sidebar-heading text-white">Despesas</div>
      <li class="nav-item">
        <div class="pointerCursor" (click)="newExpenses()">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" 
          aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-dollar-sign"></i>
              <span>Adicionar</span>
          </a>
        </div>
        <div class="collapse" *ngIf="expenses">
          <div class="bg-white py-2 collapse-inner rounded" >
            <h6 class="collapse-header">Tipo de despesa:</h6>
            <a class="collapse-item pointerCursor" (click)="addNewExpense()">Nova</a>
            <a class="collapse-item pointerCursor" >Existente</a>
          </div>
        </div>
      </li>

      <!-- Search -->
      <li class="nav-item">
        <div class="pointerCursor" (click)="newSearch()">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilities" 
          aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-search-dollar"></i>
            <span>Procurar</span>
          </a>
        </div>
        <div class="collapse" *ngIf="search">
          <div class="bg-white py-2 collapse-inner rounded pointerCursor">
            <h6 class="collapse-header">Tipo de procura:</h6>
            <a class="collapse-item" (click)="searchAlExpenses()">Todas as despesas</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading text-white">Receitas</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <div class="pointerCursor" (click)="newRevenue()">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Registar</span>
          </a>
        </div>
        <div class="collapse" *ngIf="revenue">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tipo de receitas:</h6>
            <a class="collapse-item" >Nova</a>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <!--Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Graficos</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tablas</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->


     <!-- Content Wrapper -->
     <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" 
            placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" 
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" 
            aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" 
                  placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <!-- Nav Item - User Information -->
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-dark" id="dropdownBasic1" 
                ngbDropdownToggle>Ben-Vindo {{this.user.username}} &nbsp;&nbsp;<i class="far fa-user-circle"></i>&nbsp;</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem ><i class="fas fa-user"></i> Perfil</button>
                  <button ngbDropdownItem><i class="fas fa-cog"></i> Definições</button>
                  <button ngbDropdownItem routerLink="/main"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </nav>
      <!-- End of Topbar -->


      <!-- Begin Pges Content -->
      <div class="container-fluid">

        <!-- change to add expense page -->
        <div *ngIf="newExpense">
          <app-add-expense (expenseToSend)="expenseToReceive($event)"></app-add-expense>
        </div>

        <!-- change to list expense page -->
        <div *ngIf="searchAll">
          <app-list-expenses [expense]="expenseList" ></app-list-expenses>

        </div>

        <div *ngIf="dashbord">
          <app-overall></app-overall>

        </div>

      </div>






      

    </div>
</div>



</div>
