<!--add fixed expense-->
<div class="container" #content>
    <div class="row">
        <h1 class="text-blue"> {{ expenseType.name }}</h1>
    </div>
    <div class="expense-description"> {{ expenseType.description }} </div>
    <br>
    <div class="resume-data">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <label><b>Nome da despesa:</b></label> {{    expense.expenseName}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label><b>Data da despesa:</b></label> {{     expense.expenseDate}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label><b> Referente a:</b></label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <label><b>Observações:</b></label> {{    expense.expenseDescription}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label><b>Custo total:</b></label> {{     expense.expenseTotal }}
                </div>
            </div>
        </div>
        <br>
    <div>
</div>
<a class="btn btn-primary generate-pdf" (click)="generatePDF()">
    <i class="fas fa-download"></i> Gerar PDF
</a>