<!-- List all expenses -->
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <label>Tipo de procura:</label>
      <select required name="searchType" class="form-control ml-1" (change)="changeRoute($event.target.value)">
        <option value="geral"> Geral </option>
        <option value="por-tipo"> Por Tipo </option>
        <option value="por-ano"> Por Ano </option>
        <option value="por-estado"> Por Estado <button></button> </option>
      </select>
    </div>
    <div class="col-sm-6">
      <label>Tipo de procura:</label>
      <select required name="searchType" class="form-control ml-1" (change)="changeRoute($event.target.value)">
        <option value="geral"> Geral </option>
        <option value="por-tipo"> Por Tipo </option>
        <option value="por-ano"> Por Ano </option>
        <option value="por-estado"> Por Estado <button></button> </option>
      </select>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<div *ngIf="state">
  <app-list-by-state [expenseList]="expenseList"></app-list-by-state>
</div>
<div *ngIf="type">
  <app-list-by-types [expenseList]="expenseList"></app-list-by-types>
</div>
<div *ngIf="year">
  <app-list-by-year [expenseList]="expenseList"></app-list-by-year>
</div>
<div *ngIf="standard">
  <app-list-standard [expenseList]="expenseList"></app-list-standard>
</div>








