<!--add fixed expense-->
<div #content>
    <div class="container">
        <h1 class="text-blue"> Ver - {{ expenseType.name }}</h1>
        <div class="expense-description"> {{ expenseType.description }} </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <label>Nome da despesa:</label> {{ expense.expenseName }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label>Data da despesa:</label> {{ expense.expenseDate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label>Data limite do pagamento:</label> {{ expense.paymentDate }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label for="comments">Observações:</label> {{ expense.comments }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label for="cost">Custo da despesa:</label> {{ expense.total }}
            </div>
            <div class="col-sm-4">
                <label>Valor pago no ato da compra:</label> {{ beginPayment }}
            </div>
            <div class="col-sm-4">
                <label for="difference">Quanto falta para estar pago:</label> {{ calculateDifference }}
            </div>
        </div>
    </div>
    <br>
    <div>
        <hr>
        <h4 class="mb-2 text-blue">Items da prestação</h4>
        <br>
        <div class="container-fluid" *ngFor="let item of itemArray; let i=index">
            <h5 class="mb-2 text-gray">&nbsp;&nbsp;&nbsp;Item# {{i+1}}</h5>
            <br>
            <p>Referente a:</p>
            <div class="row">
                <div class="col-sm-4">
                    <label for="itemsMonth">Mês:</label> {{ itemArray[i].month }}
                </div>
                <div class="col-sm-4">
                    <label for="itemsYear">Ano:</label> {{ itemArray[i].year }}
                </div>
                <div class="col-sm-4">
                    <label for="renderDate">Data da prestação:</label> {{ itemArray[i].expenseDate }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label for="renderValue">Valor da prestação:</label> {{ itemArray[i].value }}
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <label>Total:</label> {{ calculateTotal }}
            </div>
        </div>
    </div>
    <a class="btn btn-primary generate-pdf" (click)="generatePDF()">
        <i class="fas fa-download"></i> Gerar PDF
    </a>
    <br>
    <br>
</div>