<main id="main">
    <section id="faq" class="faq section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2 class="faq-title"> F.A.Q's </h2>
            <p style="text-align: justify;">Eis a resposta a algumas perguntas pertinentes, 
              que os utilizadores da aplicação ET-Costs possam colocar.</p>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up">
                <a  style="cursor: pointer;" 
                (click)="openQuestion1()"><i class="far fa-question-circle"></i> 
                  Como criar conta na ET-Costs? </a>
                <div class="faq-answer"  *ngIf="question1">
                  <p>
                    Para criar conta na ET-Costs, basta entrar no site e aceder à página de criação de conta.
                    Lá, basta providenciar username, palavra passe e associar um email válido.
                    Comcluído o processo, basta entrar na página de login e colocar as suas credenciais corretamente.
                    Após validação concluída, irá ser direcionado para a sua área.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up">
                <a style="cursor: pointer;" (click)="openQuestion2()"><i class="far fa-question-circle"></i> 
                  Quanto é que eu tenho de pagar para ter conta na ET-Costs? </a>
                <div class="faq-answer" *ngIf="question2">
                  <p>
                    A ET-Costs é uma plataforma de gestão orçamental livre de custos. Pode aceder de forma
                    completamente gratuita. A unica coisa que deve fazer é criar conta e associar um
                    email válido. Com isto pode usufruir de todas as funcionalidades e fazer a melhor 
                    gestão do seu orçamento familiar. 
                  </p>
                </div>
              </li>

              <li data-aos="fade-up">
                <a style="cursor: pointer;" (click)="openQuestion3()"><i class="far fa-question-circle"></i> 
                  Posso quardar dados pessoais? </a>
                <div class="faq-answer" *ngIf="question3">
                  <p>
                    A plataforma ET-Costs está construída de forma robusta, onde apenas cada utilizador consegue
                    aceder aos seus conteudos, contudo, a Marsoft não se responsabilisa pela possível usurpação 
                    de dados.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up">
                <a  style="cursor: pointer;" (click)="openQuestion4()"><i class="far fa-question-circle"></i> 
                  O que acontece caso eu perca os meus dados? </a>
                <div class="faq-answer" *ngIf="question4">
                  <p>
                    A plataforma ET-Costs está construída de forma robusta, os dados de cada utilizador 
                    são guardados de forma segura, contudo, a Marsoft não se responsabilisa pela possível 
                    perda dos dados.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up">
                <a style="cursor: pointer;" (click)="openQuestion5()"><i class="far fa-question-circle"></i> 
                  Posso ter mais do que uma conta na ET-Costs? </a>
                <div class="faq-answer" *ngIf="question5">
                  <p>
                    Cada utilizador pode ter as contas que achar necessário, a partir do momento em que tenha 
                    e-mails suficientes para associar a essas contas, bem como usernames diferentes.
                  </p>
                </div>
              </li>
  
            </ul>
          </div>
  
        </div>
      </section>
    </main>
    