<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="cta mr-auto">
      <a routerLink="/login" class="btn btn-info dropdown-toggle">Entrar <span class="caret"></span></a>
      <!-- <a routerLink="/criar-conta" class="btn btn-info">Criar Conta</a> -->
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;">Login</a></li>
        <li><a style="cursor: pointer;">Criar Conta</a></li>
    </ul>
    </div>
  </div>
</section>
<!-- ======= End Top Bar ======= -->

<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex">
    <div class="logo mr-auto">
      <h1 class="text-light"><a routerLink="/principal" style="cursor: pointer;"><span>ET-COSTS</span></a></h1>
    </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li routerLinkActive="active"><a routerLink="/principal" style="cursor: pointer;">Principal</a></li>
        <li routerLinkActive="active"><a routerLink="/sobre" style="cursor: pointer;">Sobre nós</a></li>
        <li routerLinkActive="active"><a routerLink="/servicos" style="cursor: pointer;">Serviços</a></li>
        <li routerLinkActive="active"><a routerLink="/faq" style="cursor: pointer;">FAQs</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- End Header -->

<!-- ======= Welcome Section ======= -->
<section id="welcome" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container" data-aos="fade-in">
    <h1>Esta é a ET-Costs</h1>
    <h2>Oferece-lhe uma solução simples e gratuita para gerir as suas despesas</h2>
  </div>
</section>
<!-- End Welcome -->

<br><br><br>
<router-outlet></router-outlet>
<br><br><br>

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <br>
          <h2>ET-Costs</h2>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Inicio</h4>
          <ul>
            <li><i class="fas fa-chevron-right"></i> <a routerLink="/principal" style="cursor: pointer;"> &nbsp;&nbsp;Principal</a></li>
            <li><i class="fas fa-chevron-right"></i> <a routerLink="/sobre" style="cursor: pointer;"> &nbsp;&nbsp;Sobre Nós</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Negócio</h4>
          <ul>
            <li><i class="fas fa-chevron-right"></i> <a routerLink="/servicos" style="cursor: pointer;"> &nbsp;&nbsp;Serviços</a></li>
            <li><i class="fas fa-chevron-right"></i> <a routerLink="/faq" style="cursor: pointer;"> &nbsp;&nbsp;FQ's</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Acessos</h4>
          <ul>
            <li><i class="fas fa-chevron-right"></i> <a routerLink="/login" style="cursor: pointer;"> &nbsp;&nbsp;Login</a></li>
            <li><i class="fas fa-chevron-right"></i> <a routerLink="/criar-conta" style="cursor: pointer;"> &nbsp;&nbsp;Criar Conta</a></li>
          </ul>
        </div>


        <div class="col-lg-2 col-md-6 social-links text-center text-lg-right pt-5 pt-lg-0">
          <a href="https://twitter.com/login?lang=pt" class="twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://pt-pt.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/?hl=pt" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
        <br>
        
    </div>
  </div>
  <div class="container py-4">
    <div class="text-center">
      <div id="copyright" class="copyright">
        &copy; Copyright <strong><span>Marsoft</span></strong>. All Rights Reserved. Designed by Joe Mars
      </div>
    </div>
    
  </div></div>
</footer>
<!-- End Footer -->